{{#neighborhoods}}
<div class="box level">
    <div class="level-left">
        <h1 class="title is-5 is-spaced">{{position}} {{name}}</h1>
    </div>
    <div class="level-right">
        <p class="field">
            <a class="button is-link" href="https://twitter.com/hashtag/{{hashtag}}?lang=en" target="_blank" rel="noopener">
                <span class="icon">
                <i class="fa fa-twitter"></i>
                </span>
                <span>#{{hashtag}}</span>
            </a>
            <a class="button is-dark" href="#weekly-avg-income" onclick="submitLatLongValues({{lat}}, {{long}})">
                <span class="icon">
                <i class="fa fa-map-marker"></i>
                </span>
                <span>{{lat}}&deg; N, {{long}}&deg; W</span>
            </a>
        </p>    
    </div>               
</div>
{{/neighborhoods}}