@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/base/_all.sass";

@import "./node_modules/bulma/sass/elements/box.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/content.sass";
@import "./node_modules/bulma/sass/elements/form.sass";
@import "./node_modules/bulma/sass/elements/progress.sass";
@import "./node_modules/bulma/sass/elements/title.sass";

@import "./node_modules/bulma/sass/grid/columns.sass";

@import "./node_modules/bulma/sass/components/level.sass";

@import "./node_modules/bulma/sass/layout/hero.sass";
@import "./node_modules/bulma/sass/layout/section.sass";

@import "_sass/variables";
@import "_sass/mixins";

section.body{
    @include desktop-only(){
        margin-left: 320px;
        margin-right: 320px;
    }
    @include mobile-tablet(){
        margin-left: 16px;
        margin-right: 16px;
    }
}

.chart.box{
    width: 100%;
}