@import "./node_modules/bulma/sass/utilities/initial-variables";

// set variables here

@import "./node_modules/bulma/bulma";

section.body{
    @include desktop(){
        margin-left: 320px;
        margin-right: 320px;
    }
    @include touch(){
        margin-left: 16px;
        margin-right: 16px;
    }
}
